*

!config/
!mods/
!resourcepacks/

!kubejs/
!kubejs/assets/
!kubejs/assets/kubejs/
!kubejs/assets/kubejs/lang/
!kubejs/assets/kubejs/ponder/
!kubejs/assets/kubejs/textures/
!kubejs/assets/kubejs/textures/block/
!kubejs/assets/kubejs/textures/item/
!kubejs/assets/ponder/
!kubejs/client_scripts/
!kubejs/data/
!kubejs/data/kubejs/
!kubejs/data/kubejs/dimension/
!kubejs/data/kubejs/dimension_type/
!kubejs/data/kubejs/worldgen/
!kubejs/data/kubejs/worldgen/biome/
!kubejs/server_scripts/
!kubejs/server_scripts/recipes/
!kubejs/startup_scripts/

!config/*
!mods/*
!resourcepacks/*

!kubejs/*
!kubejs/assets/*
!kubejs/assets/kubejs/*
!kubejs/assets/kubejs/lang/*
!kubejs/assets/kubejs/ponder/*
!kubejs/assets/kubejs/textures/*
!kubejs/assets/kubejs/textures/block/*
!kubejs/assets/kubejs/textures/item/*
!kubejs/assets/ponder/*
!kubejs/client_scripts/*
!kubejs/data/*
!kubejs/data/kubejs/*
!kubejs/data/kubejs/dimension/*
!kubejs/data/kubejs/dimension_type/*
!kubejs/data/kubejs/worldgen/*
!kubejs/data/kubejs/worldgen/biome/*
!kubejs/server_scripts/*
!kubejs/server_scripts/recipes/*
!kubejs/startup_scripts/*

!.gitignore
!options.txt
!README.md
!CHANGELOG.md
!LICENSE
.probe
